
html {
    color: white;
}

body {
    background-color: blue;
}

a {
    color: white;
}

.container {
    background-color: blue;
}

#aboutNav {
    display: flex;
    flex-direction: row;
    margin-right: 3%;
}

.navs {
    font-size: 20px;
    margin-right: 3%;
}

ul {
  list-style-type: none;
}

a col. {
    color: black;
}



.col {
    background-color: #6CB4EE;

}


.container img {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    
}
