
html {
    background-color: blue;
    color: white;
}

a {
    color: white;
}

#aboutNav {
    display: flex;
    flex-direction: row;
    margin-right 3%;
}

.navs {
    font-size: 20px;
}

ul {
  list-style-type: none;
}



.col {
    background-color: white;

}


.container img {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    
}
