

#aboutBody {
    background-color: blue;
    color: white;
}


h1 {
    border-bottom: 5px solid white;
    padding-bottom: 50px;
}

p {
    font-weight: 600;
    font-size: x-large;
}

#aboutNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 5px solid white;
    padding-top: 25px;
    padding-bottom: 50px;
}

p a{
    color: white;
}

.navs {
    color: white;
    list-style-type: none;
    margin-right: 3%;
}

.navs a {
    font-size: 24px;
    font-weight: 800;
}

li a{
    color: white;
    font-size: 20px;
}

a:hover {
    color: coral;
}

#serviceBody {
    background-color: blue;
    color: white;
}

#contactBody {
    background-color: #0d6efd;
    color: white;
}

#stickMan {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    font-size: larger;
    font-weight: 700;
}


.box {
    
    border: 1px solid black;
    font-size: 2rem;
    min-height: 50px;
}

#stones{
    height: 400px;
}

@media (max-width: 100%) {
    .element {
        width: 100%;
    }
}